<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assistente de Imagem IA</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Leitor de Imagens Offline</h1>
            </header>
            
            <div class="content">

                <div class="card">
                    <h2>Selecione a Imagem</h2>
                    <div class="upload-area" onclick="document.getElementById('file-input').click()">
                        <p>Clique aqui para carregar uma imagem</p>
                        <input type="file" id="file-input" accept="image/*">
                        <img id="preview" alt="Pré-visualização da imagem">
                    </div>
                </div>

                <div class="card">
                    <h2>Resultado da IA</h2>
                    <div id="resposta" class="response-box">
                        <span class="status">Aguardando imagem para começar a análise...</span>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/script.js"></script>
    </body>
</html>